{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Store Cars{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cars/base.css' %}" />
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'cars/new_car.css' %}" />
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>Olá, {{ user.username }}</li>
          <li><a href="{% url 'new_car' %}"> | Cadastrar Carro</a></li>
          <li><a href="{% url 'logout' %}"> | Sair</a></li>

          {% else %}
          <li>Olá, visitante!</li>
          <li><a href="{% url 'login' %}"> | Entrar</a></li>
          <li><a href="{% url 'register' %}"> | Criar Conta</a></li>
          {% endif %}

          <li><a href="{% url 'cars_list' %}"> | Carros</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2023 PycodeBR Multimarcas</p>
    </footer>
  </body>
</html>
